/*
Theme Name: Solo Agent
Theme URI: https://bridgetsarah.co.uk
Author: Bridget Sarah
Author URI: https://bridgetsarah.co.uk
Description: Custom Theme written and developed by Bridget Sarah
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Roanate
Tags: one-column, custom-sidebar, custom-theme, widgets, social icons
*/

body {
    background-color: #2c394c;
}
h1 {color: #ffffff;}
h2 {color: #ffffff;}
h3 {color: #ffffff;}
h4 {color: #ffffff;}
h5 {color: #ffffff;}



.container {}
/*Header Content---------------- */
.header {background-color: #ffffff;}
    .logo {}
    .social {}
    .icons {}
    .menu {
        word-spacing: 5px;
    }

/*Slider Content---------------- */
.slider {}

/*Main Content---------------- */
.main {}
    .features {}
    .counters {}
    .service-booking {}
    .blog {}
    .contact {}

/*Footer Content---------------- */
.footer {}
    .widget_1 {}
    .widget_2 {}
    .widget_3 {}


/*Responsive Mobile Theme---------------- */

@media (min-width: 320px) and (max-width: 480px) {
    .container {}
    .header {}
        .logo {}
        .social {}
        .icons {}
    .slider {}
    .menu {}
        .features {}
        .counters {}
        .service-booking {}
        .blog {}
        .contact {}
    .slider {}
    .main {}
    .footer {}
        .widget_1 {}
        .widget_2 {}
        .widget_3 {}

  

  }